{
  "development": {
    "host": "preview.contentful.com",
    "spaceId": "brfzuy4cbetd",
    "accessToken": "55mZ2wnNHLlMvxKpCl49kGpy2pE5ICQJcHZ9dahkQ1A"
  },
  "production": {
    "spaceId": "brfzuy4cbetd",
    "accessToken": "55mZ2wnNHLlMvxKpCl49kGpy2pE5ICQJcHZ9dahkQ1A"
  }
}
